<div class="modal-header">
    
        
        
    <h2 mat-dialog-title >When will your automation start?</h2>
    
    

    
</div>
<mat-divider ></mat-divider>
<div class="dialog-body">


<mat-dialog-content class="mat-typography">
    <mat-tab-group>
        <mat-tab label="Lead Trigger"> 
        <div>
            <mat-list>
                
                <a class="nav-link" href="#leads" mat-dialog-close >

                
                <div class="list-item" >
                    <mat-list-item >
                        <mat-icon mat-list-icon>add_circle</mat-icon>
                        
                        <div mat-line>New Lead</div>
                        <div mat-line>When a new lead is created or added</div>
                      </mat-list-item>
                </div>
            </a>
                <div class="list-item">
                    <mat-list-item >
                        <mat-icon mat-list-icon>update</mat-icon>
                        <div mat-line>Lead Update</div>
                        <div mat-line>When a lead field is updated or changed</div>
                      </mat-list-item>
                </div>
                <div class="list-item">
                    <mat-list-item >
                        <mat-icon mat-list-icon>calendar_today</mat-icon>
                        <div mat-line>On a Specific Date</div>
                        <div mat-line>Suc as birthday, renewal date etc.</div>
                      </mat-list-item>
                </div>
                
                
              </mat-list>
        </div>

        
        </mat-tab>
        <mat-tab label="Opportunity Trigger"> Content 2 </mat-tab>
        <mat-tab label="Activity Trigger"> <div>
            <p class="no-content"> Content for the selected tab will be updated later.</p>
        </div></mat-tab>
        <mat-tab label="User Trigger"> <div>
            <p class="no-content"> Content for the selected tab will be updated later.</p>
        </div></mat-tab>
        <mat-tab label="Task Trigger"> <div>
            <p class="no-content"> Content for the selected tab will be updated later.</p>
        </div></mat-tab>
      </mat-tab-group>

      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
      
</mat-dialog-content>
</div>


